*{
	margin:0px;
	padding:0px;
	font-family: Arial;
}
.navlist{
	background:#AD5A5A;
    height: 60px;
    width:100%;
    z-index:1;//层叠顺序
}
.navlist ul li{
	float:left;
	list-style: none;
	line-height: 60px;
    width:150px;
    font-weight: bold;
	
}

.navlist ul li a{
	text-decoration: none;
    color: #dccd79;
}
.navlist ul li:hover{
	background: #FFC001;
}
.navlist ul li:hover a{
	color:#fff;
}
body{
	background:#f0f0f0;
}
